<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../public/styles/common.css">
</head>
<body>
<div class='exception'>
    <div class='exception__banner'>
        <img src='../public/images/403.png' alt='' />
    </div>
    <div class='exception__info'>
        <h1>403</h1>
        <div class='exception__info__desc'>抱歉，你访问的页面不存在</div>
        <div>
            <Button type='primary'>返回首页</Button>
        </div>
    </div>
</div>

</body>
</html>
